.side-bar
  .side-bar__side-header
    .side-bar__side-header__top-items
      .side-bar__side-header__top-items__name
        = current_user.name
      .side-bar__side-header__top-items__icons
        =link_to "groups/new", class: "contents__btn" do
          = icon('fas', 'edit')
        =link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'contents__btn')
  .side-bar__group-list
    .side-bar__group-list__group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .side-bar__group-list__group__name
            = group.name
          .side-bar__group-list__group__preview
            = group.show_last_message
    